[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
dlib = "*"
requests = "*"
pyyaml = "*"
pillow = "*"
six = "*"
tensorflow = "*"
keras = "*"
passlib = "*"
rtsp = "*"
rpyc = "*"

[dev-packages]

[requires]
python_version = "3.5"
