{% extends 'base.html' %} 
{% block content %}
<!-- Header -->
<header>
    <div class="container">
        <div class="row" style="background:transparent url('/static/home_back.jpg') no-repeat center center /cover">
            <div class="col-lg-12">
                <!--<img class="img-responsive" src="/static/akshi_home.png" alt="">-->
                <div class="intro-text">
                    <span class="name">Akshi</span>
                    <!--<hr class="star-light">-->
                    <span class="skills">Computer Vision API - Delivered @ Edge - And From Cloud</span>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="About">
  <div class="container">
  <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
  <div class="row">
    <div class="col-lg-4 portfolio-item">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/static/video_analytics.png" alt="Video Analytics">
          	<div class="card-body">
            <h5 class="card-title">Easy Integration</h5>
            <p class="card-text">
            	<ul class="list-group list-group-flush">
                	<li class="list-group-item"> Instantly power your IP Cameras with AI </li>
                	<li class="list-group-item"> No Changes to your existing NVRs </li>
                </ul>
            </p>
            </div>
        </div>
    </div>


    <div class="col-lg-4 portfolio-item">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/static/intelligence.png" alt="Video Analytics">
          	<div class="card-body">
                <h5 class="card-title">Applications First</h5>
                <p class="card-text">
                	<ul class="list-group list-group-flush">
                    	<li class="list-group-item"> Unlike a a ton of computer vision API available in the market, Akshi is built with keeping end applications in mind </li>
                    	<li class="list-group-item"> On day one harness the power of Akhi's pre-built applications. </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 portfolio-item">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/static/flexible.png" alt="Video Analytics">
          	<div class="card-body">
            <h5 class="card-title">Flexibility</h5>
            <p class="card-text">
            	<ul class="list-group list-group-flush">
                	<li class="list-group-item"> No matter how big your business is, Akshi has a solution for all.</li>
                	<li class="list-group-item"> Flexibility to run anywhere. Akshi was built from scratch to run any where</li>
                	<li class="list-group-item"> Try our Akshi On Box, video edge sensor </li>
                	<li class="list-group-item"> Managing multiple sites, worried about infrastructure, Akshi is available as a hosted service.</li>
                	<li class="list-group-item"> Worried about your data, use Akshi on Premise Solution.</li>
                </ul>
            </p>
            </div>
        </div>
    </div>
    </div>
    </div>

</section>

<!-- Deployment Grid Section -->
<section id="Deployment">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Deployments</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">On premise</h3>
			  </div>
			  <div class="panel-body">
                                <ul>
			   <li> Host your personel version of AKSHI on your premise. </li>
			    <li> Seamlessly integrate your existing IP cameras through web service / FTP protocols. </li>
                <li> Bingo, your existing installation is now powered by AKSHI. </li>
                <li> Reap the benefits of advacned computer vision algrorithms and applications.</li>
            </ul>
			  </div>
			</div>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        
			<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title">Cloud</h3>
			  </div>
			  <div class="panel-body">
                <ul>
			  	<li>Connect multiple facilities to AKSHI hosted in the cloud. </li>
                <li> All your cameras can now talk to AKSHI. </li>
                <li> Ease of management from a single hosted version.</li>
            </ul>
			  </div>
			</div>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        
		<div class="panel panel-info">
			  <div class="panel-heading">
			    <h3 class="panel-title">In a Box</h3>
			  </div>
			  <div class="panel-body">
                <ul>
			    <li>Complete AKSHI suite is available in a box. </li>
                <li> Connect any USB Camera to AKSHI Box and you are ready to use all the features.</li>
            </ul>
			  </div>
			</div>
                    </a>
                </div>
        </div>
    </section>



    <!-- Technology Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Features</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#genderModal" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                                                <h4>Demographics Classification</h4>

                            </div>
                        </div>
                        <img src="/static/gender.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#faceModal" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                                                <h4>Face Recognition</h4>

                            </div>
                        </div>
                        <img src="/static/face_verify.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#objectModal" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <h4>Object Detection</h4>
                            </div>
                        </div>
                        <img src="/static/object_detection.png" class="img-responsive" alt="">
                    </a>
                </div>
        </div>
    </section>


    <div class="scroll-top page-scroll">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

<!-- Usecases Grid Section -->
<section id="portfolio1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Use Cases</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <img src="/static/usecases.png" class="img-responsive" alt="">
                    </a>
                </div>
        </div>
    </section>







    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="genderModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Gender Detection</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                            <p>
                            	<ul>
                            		<li>
                            	Use Gender API from akshi to determine the Gender in an image/photo.</li>
                            	<li> Demographics API to extract demographics information from an image </li>
                            <li> Easy integration of Gender API with any IP camera. </li>
                        </ul>
                        <div>
                        	<img src="static/genderdetect.png"  alt="">
                        </div>


                        </p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- face modal -->
<div class="portfolio-modal modal fade" id="faceModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Face Detection</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                            <p>
                            	<ul>
                            		<li>
                            	Use Face detection API from akshi to identify a face in an  image/photo.</li>

                            <li> Easy integration of Face API with any IP camera. </li>
                        </ul>
                        <div>
                        	<img src="static/facedetect.png"  alt="">
                        </div>


                        </p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- object modal -->

    <div class="portfolio-modal modal fade" id="objectModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Object Detection</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                            <p>
                                <ul>
                                    <li>
                                Use Object detection API from akshi to identify any objects in an  image/photo.</li>
                                <li> Obejct detection provides several applications </li>
                                <li>
                            <li> Easy integration of Object API with any IP camera. </li>
                        </ul>
                        <div>
                            <img src="static/objectdetect.png"  alt="">
                        </div>
                        </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


 {% endblock %}